<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SMAS CRM</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-11">
        <div class="map">
          <!-- this creates a google map on the page with the given lat/lng from -->
          <!-- the component as the initial center of the map: -->
          <agm-map 
            [latitude]="lat" 
            [longitude]="lng"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="true"
            (mapClick)="mapClicked($event)">
            <agm-marker 
              *ngFor="let m of markers;let i = index"
              (markerClick)="markerClicked(m, i)"
              [latitude]="m.lat" 
              [longitude]="m.lng"
              [markerDraggable]="m.draggable"
              (dragEnd)="markerDragEnd(m, $event)">
              
              <agm-info-window>
                <strong>{{m.name}}</strong>
                <h6>IMEI No : 82163623</h6>
                <h6>Battery : 5%</h6>
                <h6>Status : Active</h6>
                <h6>Position Type : WIFI</h6>
              </agm-info-window>

              </agm-marker>
          </agm-map>
        </div>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-offset-1 col-md-11">
        <div class="panel panel-default">
          <div class="panel-heading">Device Detail List</div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Device Name</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let m of markers">
                  <td>{{m.name}}</td>
                  <td>{{m.lat}}</td>
                  <td>{{m.lng}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

</div>





